
src/consoler/consoler.o
src/consoler/consoler.pc
src/consoler/consolertest
src/consoler/libconsoler.a

src/fonter/fonter.o
src/fonter/fonter.pc
src/fonter/fonterexample
src/fonter/fontertest
src/fonter/libfonter.a

src/boxer/boxer
src/boxer/boxer.1
src/boxer/boxertest

src/filler/filler
src/filler/filler.1
src/filler/fillertest

src/green/cgreen
src/green/cgreen.1
src/green/sgreen
src/green/sgreen.1

src/imager/imager
src/imager/imager.1
src/imager/imagertest

src/pdfer/pdfer
src/pdfer/pdfer.1
src/pdfer/pdfertest

