
src/consoler/consoler.o
src/consoler/consoler.pc
src/consoler/consolertest
src/consoler/libconsoler.a

src/fonter/fonter.o
src/fonter/fonter.pc
src/fonter/fonterexample
src/fonter/fontertest
src/fonter/libfonter.a

src/boxer/boxer
src/boxer/boxer.1
src/boxer/boxertest

src/filler/filler
src/filler/filler.1
src/filler/fillertest

src/green/cgreen
src/green/cgreen.1
src/green/sgreen
src/green/sgreen.1

src/imager/imager
src/imager/imager.1
src/imager/imagertest

src/pdfer/pdfer
src/pdfer/pdfer.1
src/pdfer/pdfertest

src/sdlcsr/sdlcsr
src/sdlcsr/sdlcsr.1

src/termer/inputtertest
src/termer/outputtertest
src/termer/screentest
src/termer/termer
src/termer/termer.1
src/termer/termertest
src/termer/termfiller

src/consoler/CNSL_AllocDisplay.3.txt
src/consoler/CNSL_AllocDisplay.txt
src/consoler/CNSL_CloseClient.3.txt
src/consoler/CNSL_CloseClient.txt
src/consoler/CNSL_EventsEqual.3.txt
src/consoler/CNSL_EventsEqual.txt
src/consoler/CNSL_FillRect.3.txt
src/consoler/CNSL_FillRect.txt
src/consoler/CNSL_FreeDisplay.3.txt
src/consoler/CNSL_FreeDisplay.txt
src/consoler/CNSL_GetBlue8.3.txt
src/consoler/CNSL_GetBlue8.txt
src/consoler/CNSL_GetGeometry.3.txt
src/consoler/CNSL_GetGeometry.txt
src/consoler/CNSL_GetGreen8.3.txt
src/consoler/CNSL_GetGreen8.txt
src/consoler/CNSL_GetPixel.3.txt
src/consoler/CNSL_GetPixel.txt
src/consoler/CNSL_GetRGB8.3.txt
src/consoler/CNSL_GetRGB8.txt
src/consoler/CNSL_GetRed8.3.txt
src/consoler/CNSL_GetRed8.txt
src/consoler/CNSL_IsKeypress.3.txt
src/consoler/CNSL_IsKeypress.txt
src/consoler/CNSL_IsKeyrelease.3.txt
src/consoler/CNSL_IsKeyrelease.txt
src/consoler/CNSL_IsQuit.3.txt
src/consoler/CNSL_IsQuit.txt
src/consoler/CNSL_IsResize.3.txt
src/consoler/CNSL_IsResize.txt
src/consoler/CNSL_LaunchClient.3.txt
src/consoler/CNSL_LaunchClient.txt
src/consoler/CNSL_MakeColor.3.txt
src/consoler/CNSL_MakeColor.txt
src/consoler/CNSL_MakeKeypress.3.txt
src/consoler/CNSL_MakeKeypress.txt
src/consoler/CNSL_MakeKeyrelease.3.txt
src/consoler/CNSL_MakeKeyrelease.txt
src/consoler/CNSL_MakeQuit.3.txt
src/consoler/CNSL_MakeQuit.txt
src/consoler/CNSL_MakeResize.3.txt
src/consoler/CNSL_MakeResize.txt
src/consoler/CNSL_RecvDisplay.3.txt
src/consoler/CNSL_RecvDisplay.txt
src/consoler/CNSL_RecvEvent.3.txt
src/consoler/CNSL_RecvEvent.txt
src/consoler/CNSL_SendDisplay.3.txt
src/consoler/CNSL_SendDisplay.txt
src/consoler/CNSL_SendEvent.3.txt
src/consoler/CNSL_SendEvent.txt
src/consoler/CNSL_SetGeometry.3
src/consoler/CNSL_SetGeometry.3.txt
src/consoler/CNSL_SetGeometry.txt
src/consoler/CNSL_SetPixel.3.txt
src/consoler/CNSL_SetPixel.txt
src/consoler/CNSL_Version.3.txt
src/consoler/CNSL_Version.txt
src/focus.html
src/fonter/FNTR_Create.3.txt
src/fonter/FNTR_Create.txt
src/fonter/FNTR_DrawGlyph.3.txt
src/fonter/FNTR_DrawGlyph.txt
src/fonter/FNTR_DrawString.3
src/fonter/FNTR_DrawString.3.txt
src/fonter/FNTR_DrawString.txt
src/fonter/FNTR_Free.3.txt
src/fonter/FNTR_Free.txt
src/fonter/FNTR_GlyphLevel.3.txt
src/fonter/FNTR_GlyphLevel.txt
src/fonter/FNTR_GlyphWidth.3.txt
src/fonter/FNTR_GlyphWidth.txt
src/fonter/FNTR_Height.3.txt
src/fonter/FNTR_Height.txt
src/fonter/FNTR_LoadGlyph.3.txt
src/fonter/FNTR_LoadGlyph.txt
src/fonter/FNTR_MaxWidth.3.txt
src/fonter/FNTR_MaxWidth.txt
src/fonter/FNTR_Version.3.txt
src/fonter/FNTR_Version.txt

src/consoler/CNSL_AllocDisplay.3
src/consoler/CNSL_CloseClient.3
src/consoler/CNSL_EventsEqual.3
src/consoler/CNSL_FillRect.3
src/consoler/CNSL_FreeDisplay.3
src/consoler/CNSL_GetBlue8.3
src/consoler/CNSL_GetGeometry.3
src/consoler/CNSL_GetGreen8.3
src/consoler/CNSL_GetPixel.3
src/consoler/CNSL_GetRGB8.3
src/consoler/CNSL_GetRed8.3
src/consoler/CNSL_IsKeypress.3
src/consoler/CNSL_IsKeyrelease.3
src/consoler/CNSL_IsQuit.3
src/consoler/CNSL_IsResize.3
src/consoler/CNSL_LaunchClient.3
src/consoler/CNSL_MakeColor.3
src/consoler/CNSL_MakeKeypress.3
src/consoler/CNSL_MakeKeyrelease.3
src/consoler/CNSL_MakeQuit.3
src/consoler/CNSL_MakeResize.3
src/consoler/CNSL_RecvDisplay.3
src/consoler/CNSL_RecvEvent.3
src/consoler/CNSL_SendDisplay.3
src/consoler/CNSL_SendEvent.3
src/consoler/CNSL_SetPixel.3
src/consoler/CNSL_Version.3
src/fonter/FNTR_Create.3
src/fonter/FNTR_DrawGlyph.3
src/fonter/FNTR_Free.3
src/fonter/FNTR_GlyphLevel.3
src/fonter/FNTR_GlyphWidth.3
src/fonter/FNTR_Height.3
src/fonter/FNTR_LoadGlyph.3
src/fonter/FNTR_MaxWidth.3
src/fonter/FNTR_Version.3

