
src/consoler/consoler.o
src/consoler/consoler.pc
src/consoler/consolertest
src/consoler/libconsoler.a

src/fonter/fonter.o
src/fonter/fonter.pc
src/fonter/fonterexample
src/fonter/fontertest
src/fonter/libfonter.a

src/boxer/boxer
src/boxer/boxer.1
src/boxer/boxertest

