
# vim: ft=python

# Example config/local file for building focus.

# Import the environment to change (sconsism)
Import('env')

# Specify the desired prefix where things should be installed.
env['PREFIX'] = "/usr/local"

# Specify which of the components you want to build.
env['COMPONENTS'] = [
        'boxer',
        'consoler',
        'filler',
        'fonter',
        'green',
        'pdfer',
        'pnger',
        'sdlcsr',
        'termer'
        ]

## If you have any non standard pkgconfig directories you want to use to find
## library information, you can list them here
#env['ENV']['PKG_CONFIG_PATH'] = ':'.join([
#    '/home/richard/local/lib/pkgconfig'
#    ])


## If you have any non standard include paths for packages not detected by
## pkgconfig, list them here.
#env['CPPPATH'] = [
#    '/pkg/sdl-1.2.14/include',
#    '/pkg/poppler-0.16.5/include/poppler/cpp',
#    '/pkg/libpng-1.4.5/include',
#    '/pkg/freetype-2.4.3/include',
#    '/pkg/freetype-2.4.3/include/freetype2',
#    '/pkg/fontconfig-2.8.0/include'
#    ]

## If you have any non standard library paths for packages not detected by
## pkgconfig, list them here.
#env['LIBPATH'] = [
#    '/pkg/sdl-1.2.14/lib',
#    "/pkg/libpng-1.4.5/lib",
#    '/pkg/poppler-0.16.5/lib',
#    '/pkg/freetype-2.4.3/lib',
#    '/pkg/fontconfig-2.8.0/lib'
#    ]

## For tests we need to run and link with libraries, so make sure those are all
## avaiable during the build. Often times LD_LIBRARY_PATH needs to include the
## same list from LIBPATH, in which case you can do:
#env['ENV']['LD_LIBRARY_PATH'] = ":".join(env['LIBPATH'])
#
## Otherwise you can add them explicitly:
#env['ENV']['LD_LIBRARY_PATH'] = [
#    '/pkg/asciidoc-8.6.5/lib',
#    "/pkg/libpng-1.4.5/lib",
#    '/pkg/poppler-0.16.5/lib',
#    '/pkg/freetype-2.4.3/lib',
#    '/pkg/fontconfig-2.8.0/lib'
#    ]

## For any programs we need during build that aren't in standard path, add
## those here.
#env['ENV']['PATH'] = ':'.join([
#    env['ENV']['PATH'],
#    '/pkg/asciidoc-8.6.5/bin',
#    '/pkg/python-2.7/bin',
#    '/pkg/libxml2-2.7.7/bin'
#    '/pkg/libxslt-1.1.24/bin'
#    ])

## docbook may also need some configuration
#env['ENV']['XML_CATALOG_FILES'] = " ".join([
#    '/pkg/docbook/docbook-xsl-1.76.1/catalog.xml',
#    '/pkg/docbook/4.5/catalog.xml',
#    ])

